<div class="uk-margin uk-width-2xlarge uk-margin-auto uk-card uk-card-default uk-card-body uk-box-shadow-large">
    <form class="uk-form-stacked uk-text-left" enctype="multipart/form-data" action="/addMonument" method="POST">
        <div class="uk-grid uk-grid-stack">
            <div class="uk-width-1@m">
                <div class="uk-margin">
                    <label class="uk-form-label" for="form-stacked-text">Monument Title</label>
                    <div class="uk-form-controls">
                        <input class="uk-input" id="form-stacked-text" type="text" name="title"
                            placeholder="Enter Monument Title" />
                    </div>
                </div>
                <div class="uk-margin">
                    <div class="uk-form-label">Description</div>
                    <div class="uk-form-controls">

                        <textarea class="uk-textarea" id="form-stacked-text" type="text" name="description"
                            placeholder="Enter Monument Description"></textarea>
                    </div>

                </div>
                <div class="uk-margin">
                    <div class="uk-form-label">Province</div>
                    <select class="uk-select" name="province">
                        <option value="" disabled selected>Select Province</option>
                        <option>Connacht</option>
                        <option>Munster</option>
                        <option>Leinster</option>
                        <option>Ulster</option>
                    </select>
                </div>

            </div>



            <div class="uk-margin">
                <div class="uk-form-label">Image</div>
                <div uk-form-custom>
                    <input type="file" accept="image/x-png,image/gif,image/jpeg" name="imageUpload" id="imageInput"
                        onchange="readFile(this)">
                    <button class="uk-button uk-button-default" type="button" tabindex="-1" name='test'>Add Monument
                        Image</button>
                </div>
            </div>

            <ul id="preview"
                class="uk-list uk-grid-match uk-child-width-1-2 uk-child-width-1-4@l uk-child-width-1-5@xl uk-text-center"
                uk-grid uk-scrollspy="cls: uk-animation-scale-up; target: .list-item; delay: 80"></ul>














        </div>

        <script>

            const preview = document.getElementById('preview');
            function imgPreviewLi(readerResult, filename) {
                const li = document.createElement("li");
                const div = document.createElement("div");
                const img = document.createElement("img");
                const span = document.createElement("span");

                li.className = "list-item uk-margin-medium-top";
                div.className = "uk-cover-container";
                img.className = "delete-img-preview";
                img.setAttribute("id", "img-preview-responsive");
                img.setAttribute("src", readerResult);
                img.setAttribute("name", "image")
                img.setAttribute("data-name", filename);
                img.setAttribute("alt", "file-image-preview");
                span.className = "uk-text-meta uk-text-break file-upload-name";
                span.textContent = filename;

                div.append(img);
                li.append(div, span);
                return li;
            }


            let imageInputTest = document.getElementById('imageInput');

            function readFile(input) {

                let file = input.files[0];


                let fileName = input.files[0].name;

                let reader = new FileReader();

                reader.readAsDataURL(file)

                if (preview.childNodes.length < 1) {
                    reader.onload = function () {
                        let imageResult = imgPreviewLi(reader.result, fileName)
                        preview.append(imageResult)
                    };
                    reader.readAsDataURL(file);

                    reader.onerror = function () {
                        console.log(reader.error);
                    };


                }
                else {
                    preview.removeChild(preview.childNodes[0]);
                    reader.onload = function () {
                        let imageResult = imgPreviewLi(reader.result, fileName)
                        preview.append(imageResult)
                    };
                    reader.readAsDataURL(file);

                    reader.onerror = function () {
                        console.log(reader.error);
                    };

                }



            }


        </script>


        <!--<div class="uk-width-1@m uk-margin">
                <div class="uk-margin js-upload uk-placeholder uk-text-center">
                    <span uk-icon="icon: cloud-upload"></span>
                    <span class="uk-text-middle">Add an image by dropping it here or</span>
                    <div uk-form-custom>
                        <input type="file" accept="image/x-png,image/gif,image/jpeg">
                        <span class="uk-link">selecting one</span>
                    </div>
                </div>
            </div>

            <progress id="js-progressbar" class="uk-progress" value="0" max="100" hidden></progress>

            <script>

                var bar = document.getElementById('js-progressbar');

                UIkit.upload('.js-upload', {

                    url: '/home',
                    multiple: false,


                    beforeSend: function () {
                        console.log('beforeSend', arguments);
                    },
                    beforeAll: function () {
                        console.log('beforeAll', arguments);
                    },
                    load: function () {
                        console.log('load', arguments);
                    },
                    error: function () {
                        console.log('error', arguments);
                    },
                    complete: function () {
                        console.log('complete', arguments);
                    },

                    loadStart: function (e) {
                        console.log('loadStart', arguments);

                        bar.removeAttribute('hidden');
                        bar.max = e.total;
                        bar.value = e.loaded;
                    },

                    progress: function (e) {
                        console.log('progress', arguments);

                        bar.max = e.total;
                        bar.value = e.loaded;
                    },

                    loadEnd: function (e) {
                        console.log('loadEnd', arguments);

                        bar.max = e.total;
                        bar.value = e.loaded;
                    },

                    completeAll: function () {
                        console.log('completeAll', arguments);

                        setTimeout(function () {
                            bar.setAttribute('hidden', 'hidden');
                        }, 1000);


                        UIkit.notification("All uploads have been finished");
                    }

                });

            </script> -->



        <div class="uk-width-1@m">
            <div class="uk-margin">
                <button class="submit uk-button uk-margin-top uk-button-primary uk-button-large uk-width-1-1">Add
                    Monument</button>
            </div>
        </div>
</div>
</form>
</div>