{{!-- <div class="uk-margin uk-width-2xlarge uk-margin-auto uk-card uk-card-default uk-card-body uk-box-shadow-large">
    <table class="uk-table">
        <caption>
            Monuments added to Date
        </caption>
        <thead>
            <th>Title</th>
            <th>Description</th>
            <th>Added By</th>

        </thead>
        <tbody class="uk-text-left">
            {{#each monuments}}
            <tr>
                <td> {{title}} </td>
                <td> {{description}} </td>
                <td> {{user.firstName}} {{user.lastName}} </td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div> --}}


{{!-- <div class="uk-child-width-expand@s uk-text-center" uk-grid> --}}
    <div class="uk-grid-medium uk-child-width-1-3@m" uk-grid uk-height-match="target: > div > .uk-card > .uk-card-body">
        <div>
            <div class="uk-card uk-card-default">
                <div class="uk-card-media-top uk-cover-container">
                    <img src=" ./images/castle.jpg" class="uk-responsive-height uk-responsive-width" uk-cover alt="">
                    <canvas width="390" height="250"></canvas>
                </div>
                <div class="uk-card-body">
                    <h3 class="uk-card-title">Media Top</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
                </div>
            </div>
        </div>

        <div>
            <div class="uk-card uk-card-default">
                <div class="uk-card-media-top uk-cover-container">
                    <img src=" ./images/castle.jpg" class="uk-responsive-height uk-responsive-width" uk-cover alt="">
                    <canvas width="390" height="250"></canvas>
                </div>
                <div class="uk-card-body">
                    <h3 class="uk-card-title">Media Top</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
                </div>
            </div>
        </div>

        <div>
            <div class="uk-card uk-card-default">
                <div class="uk-card-media-top uk-cover-container">
                    <img src=" ./images/castle.jpg" class="uk-responsive-height uk-responsive-width" uk-cover alt="">
                    <canvas width="390" height="250"></canvas>
                </div>
                <div class="uk-card-body">
                    <h3 class="uk-card-title">Media Top</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
                </div>
            </div>
        </div>


        <div>
            <div class="uk-card uk-card-default">
                <div class="uk-card-media-top uk-cover-container">
                    <img src=" ./images/castle.jpg" class="uk-responsive-height uk-responsive-width" uk-cover alt="">
                    <canvas width="390" height="250"></canvas>
                </div>
                <div class="uk-card-body">
                    <h3 class="uk-card-title">Media Top</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
                </div>
            </div>
        </div>


    </div>