<div class="uk-flex uk-flex-center uk-flex-middle uk-grid-small" uk-grid>
    {{> title-card title="Monument" subTitle="Monuments added so far"}}
    {{> main-menu }}
</div>








<div class="uk-container uk-margin">
    <h1 class="uk-heading-divider">Monuments Added To Date</h1>
    <div class="uk-margin">
        <ul class="uk-child-width-expand" uk-tab>
            <li class="uk-active"><a href="#">All</a></li>
            <li><a href="#">Munster</a></li>
            <li><a href="#">Leinster</a></li>
            <li><a href="#">Connacht</a></li>
            <li><a href="#">Ulster</a></li>
        </ul>
    </div>
    <div class="uk-child-width-expand uk-flex-center uk-flex-middle uk-text-center" uk-grid>
        <div class="uk-width-expand@m">
            {{> monument-list }}

        </div>
    </div>
</div>