<div class="uk-flex uk-flex-center uk-flex-middle uk-grid-small" uk-grid>
    {{> title-card title="Settings" subTitle="Edit Your Account Details"}}
    {{> main-menu }}
</div>

<div class="uk-container uk-margin">
    <div class="uk-child-width-expand uk-flex-center uk-flex-middle uk-text-center" uk-grid>
        <div class="uk-width-auto@m">
            <img width="500" src="images/settingsImage.jpg">
        </div>
        <div class="uk-width-expand@m">
            <div class="uk-card uk-card-default uk-width-xlarge uk-card-body uk-box-shadow-large">
                <h3 class="uk-card-title uk-text-center">Your Details: </h3>
                {{> settings-form}}
                {{> error}}
            </div>
        </div>
    </div>
</div>

<div id="delete-account-modal" uk-modal>
    <div class="uk-modal-dialog">
        <button class="uk-modal-close-default" type="button" uk-close></button>
        <div class="uk-modal-header">
            <h2 class="uk-modal-title">Delete Account</h2>
        </div>
        <div class="uk-modal-body">
            <p>Are you sure that you want to delete your account?</p>
        </div>
        <div class="uk-modal-footer uk-text-right">
            <button class="uk-button uk-button-default uk-modal-close" type="button">Cancel</button>
            <button class="uk-button uk-button-danger" type="button">Delete</button>
        </div>
    </div>
</div>
{{lastUpdated}}
<script>
    let notification = '{{successNotification}}';
    let lastUpdated = '{{ lastUpdated }}';
    let deleteAccountbutton = document.getElementById('deleteAccountButton');
    deleteAccountbutton.addEventListener('click', (e) => {
        e.preventDefault()
    })
    console.log(lastUpdated)
    if (notification === 'true') {
        UIkit.notification({ message: '<span uk-icon=\'icon: check\'></span> Successfully updated settings' })
    }

</script>